body {
    font-family: arial;
    font-size: 16px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
}

p {
    font-size: 12px;
    margin: 5px 0;
}

section {
    margin: 10px 0;
}


.container {
    padding: 20px;
}

.ground {
    border: 1px solid;
    width: 500px;
    height: 300px;
}

.object-box {
    height: 30px;
    padding: 10px 0;
}

.create-object {
    width: 100px;
    margin: 0 10px;
    height: 100%;
    text-transform: uppercase;
}