body {
    font-family: arial;
    font-size: 16px;
}

h1 {
    font-size: 20px;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.userForm {
    padding: 10px 0;
}

.formField {
    display: flex;
    margin: 10px 0;
}

.fieldLabel {
    text-align: right;
    width: 42px;
    margin-right: 10px;
    padding-top: 8px;
}

.formField-title,
.formField-body {
    display: none;
}

.userForm.selected-even .formField-title,
.userForm.selected-even .formField-body {
    display: flex;
}

.userForm.selected-odd .formField-title {
    display: flex;
}

.userId,
.userTitle {
    height: 30px;
    width: 200px;
    border-color: black;
}

.userBody {
    width: 200px;
    height: 100px;
    border-color: black;
}